[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
pandas = "*"
boto3 = "*"
pyspark-stubs = "==3.0.0.post3"
requests = "*"
beautifulsoup4 = "*"
seaborn = "*"
matplotlib = "*"
textblob = "*"
wordcloud = "*"

[dev-packages]

[requires]
python_version = "3.10"
